.ticket {
    width: 502px;
    height: 184px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 20px 0;
}

.ticket__header {
    display: flex;
    justify-content: space-between;
}

.ticket__header-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 600;
    color: #2196F3;
    margin: 0;
}

.ticket__header-transporter {
    width: 110px;
    height: 36px;
    margin-bottom: 20px;
}

